@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-font";

// @include adaptive-font(24, 12)

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $primary;
	color: $white;
}

body {
	font-size: 16px;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $white;
	padding: 0;
	margin: 0;
	background-color: #1B243A;

	input, textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: #FF5F00;
		}

		// &:focus {
		// 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		// }
	}

	// &.lock {
	// 	overflow: hidden;
	// }
}

img {
	height: auto;
	width: 100%;
}

b, strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

p, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

.button {
	font-weight: 500;
	text-align: center;
	padding: 8px 10px;
	font-size: 16px;
	font-family: $default-font;
	cursor: pointer;
	background-color: $primary;
	color: $white;
	transition: .3s all ease;
	display: inline-block;
	min-width: 173px;
	border-radius: 40px;
	min-height: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;

	&:hover {
		box-shadow: inset 0 0 0 30px rgba(255, 255, 255, .1);
	}

	&--accent {
		gap: 8px;
		background-color: $accent;
		color: $text;

		.button {
			&__icon {
				font-size: 0;

				svg {
					width: 14px;
					height: 14px;
				}
			}
		}
		
	}
}


.header {
	min-height: 637px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
	transition: all .5s ease;
}

.header-top {
	background: rgba(255, 255, 255, 0.2);
	padding: 32px 0 15px;
	transition: all .5s ease;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 10;
    width: 100%;

	&__col {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}

	&__name {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {
		width: 100%;
		display: flex;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 60%;
		gap: 32px;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: relative;
	}

	&__button {
		margin-left: auto;
	}

	&__calendar {
		display: none;
	}

	&__search-mobile {
		display: none;
	}

	&.active {
		padding: 15px 0 10px;
		background-color: $white;

		.header-top {
			&__wrap {
				gap: 5px;
			}

			&__info {
				justify-content: flex-end;
			}
		}

		.logo {
			max-width: 200px;

			svg path {
				fill: $primary;
			}
		}

		.main-menu {
			max-width: 450px;

			&__link {
				font-size: 15px;
				color: $primary;
			}
		}

		.search {
			border: 2px solid $primary;
			height: 30px;
			width: 160px;

			&__icon {
				width: 14px;
				height: 14px;

				svg {
					width: 14px;
					height: 14px;

					path {
						fill: $black;
					}
				}
			}
		}

		.socials {
			&__icon {
				svg {
					width: 20px;
					height: 20px;

					path {
						fill: $black;
					}
				}
			}
		}

		.phone {
			&__tel {
				color: $black;
				font-size: 16px;
			}

			&__icon {
				svg {
					path {
						fill: $black;
					}
				}
			}
		}
	}
}

.logo {
	max-width: 316px;
	font-size: 0;
	transition: all .5s ease;

	svg {
		width: 100%;
	}
}

// .geolocation {
// 	display: flex;
// 	align-items: center;
// 	gap: 10px;

// 	&__icon {
// 		width: 13px;
// 		height: 18px;
// 	}

// 	&__text {
// 		font-size: 18px;
// 		font-weight: 500;
// 		white-space: nowrap;
// 	}
// }

.main-menu { 
  display: flex;
  align-items: center;
  gap: 42px;
  width: 100%;
  transition: all .5s ease;
  position: relative;

  &__item {
	cursor: pointer;
  	position: static;

	&.open {
		.main-submenu {
			display: flex;
			transform-origin: top;
			animation: dropdown 0.2s ease-out;
		}
	}
  }

  &__link {
	// padding: 20px;
	color: $white;
	transition: background 0.2s, color 0.2s;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	text-decoration: none;
  }

  &__icon {
	font-size: 0;
  }
}

.main-submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
	background: #ffffff;
	z-index: 10;
	flex-direction: column;

	.main-menu__link {
		padding-left: 40px;
		color: $primary;
		
		&:hover {
			color: #136a73;
		}
	}

	&__item {
		width: 33.33333333%;
	}
}

.main-sub-submenu { 
  position: absolute;
  top: 0;
  height: 100%;
  display: none;
  left: 33.33333333%;
  width: 33.33333333%;

  & & {
	left: 100%;
  }

  &__item {
	&:hover {
		> .main-menu__link {
    		color: #136a73;		
		}
	}
  }
}

// .main-menu {
// 	display: flex;
// 	align-items: center;
// 	gap: 42px;
// 	width: 100%;
// 	transition: all .5s ease;

// 	&__link {
// 		color: $white;
// 		font-size: 18px;
// 		font-weight: 500;
// 	}

// 	&__item {
// 		position: relative;
// 		display: flex;
// 		align-items: center;
// 		gap: 2px;
// 		cursor: pointer;

// 		&:hover {
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				bottom: -25px;
// 				left: 0;
// 				width: 100%;
// 				height: 4px;
// 				background-color: $primary;
// 				z-index: 10;
// 			}
// 		}
// 	}

// 	&__icon {
// 		font-size: 0;

// 		svg {
// 			width: 20px;
// 			height: 20px;

// 			path {
// 				fill: $white;
// 			}
// 		}
// 	}
// }

// /* Для подпунктов с вложенным меню */
// .main-submenu__item.active + .main-submenu,
// .main-submenu__item.active ~ .main-submenu {
//   display: block !important;
// }

// /* Для визуальной обратной связи */
// .main-submenu__item.active {
//   background-color: #e0e0e0; /* Подсветка активного пункта */
//   font-weight: bold;
// }

// /* Исходное скрытие всех подменю */
// .main-submenu {
//   display: none;
// }

.search {
	width: 205px;
    padding-left: 10px;
    transition: all 0.5s ease;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 1);
	background-color: transparent;
	height: 40px;
    padding-right: 45px;
	position: relative;
	transition: width .5s ease;

	&__input {
		border: 0px;
		background-color: transparent;
		width: 98%;
		outline: none;
		transition: all 0.5s ease;
		font-size: 16px;
		height: 100%;
		color: $white;
	}

	&__icon {
		position: absolute;
		right: 13px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		font-size: 0;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	gap: 16px;
	transition: all .5s ease;

	&__icon {
		font-size: 0;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.phone {
	display: flex;
	align-items: center;
	gap: 6px;
	transition: all .5s ease;

	&__tel {
		font-size: 18px;
		font-weight: 500;
		color: $white;
		white-space: nowrap;
	}

	&__icon {
		font-size: 0;
		
		svg {
			width: 18px;
			height: 18px;
		}
	}
}

.header-button-menu {
	display: none;
}

.header-button-menu-body {
	display: none;
}

.search-mobile {
	&__input {
		padding: 20px;
		border: 2px solid rgba(0, 19, 96, 0.5);
		border-radius: 16px;
		background: #E5E5E5;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		min-height: 134px;
		flex-direction: column;
		gap: 16px;
	}

	&__button {
		color: $white;
		font-size: 14px;
		border-radius: 40px;
		background-color: $primary;
		padding: 4px 10px;
		min-height: 32px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		width: max-content;
		min-width: 128px;
		margin-left: auto;
	}

	.search {
		background-color: $white;
		border: 2px solid rgba(0, 19, 97, 0.6);
		border-radius: 8px;
		width: 100%;

		&__icon {
			svg {
				width: 24px;
				height: 24px;

				path {
					fill: $primary;
				}
			}
		}

		&__input {
			color: $primary;
		}
	}
}

.header-slider {
	min-height: 100%;

	&__item {
		min-height: 637px;
		padding: 225px 0 60px;
		position: relative;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__info {
		position: relative;
		max-width: 563px;
	}

	&__title {
		font-size: 70px;
	}

	&__subtitle {
		margin-top: 24px;
		font-size: 24px;
	}

	.slick-dots {
		bottom: 48px;

		li {
			width: 12px;
			height: 12px;
		}
	}

	.slick-slide {
		margin: 0;
	}

	.slick-list {
		margin: 0;
	}

}

.slick-list {
	margin: 0 -8px;
}

.slick-slide {
	margin: 0 8px;

	// &:not(:last-child) {
	// 	margin-right: 16px;
	// }
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

	li {
		position: relative;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-right: 10px;
		padding: 0;
		cursor: pointer;
		background-color: $white;
		border-radius: 50%;
		opacity: 0.6;
		outline: none;

		&.slick-active {
			background-color: $white;
			opacity: 1;
			width: 40px;
			border-radius: 12px;
		}

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: 0;
			background: 0 0;
		}
	}
}

main {
	padding: 70px 0;
}

section {
	padding: 35px 0;

	&:first-child {
		padding-top: 0;
	}
}

.title {
	font-size: 48px;
	line-height: 110%;

	&__accent {
		color: $accent;
	}

	& + h3,
	& + .subtitle {
		margin-top: 24px;
	}
}

.subtitle {
	font-size: 24px;
	line-height: 130%;
}

.main-sect {
	&__slider {
		margin-top: 40px;
		margin-bottom: 70px;
	}

	&__wrap {
		border-radius: 16px;
		background: rgba(255, 255, 255, 0.3);
		padding: 32px;
	}
}

.main-sect-slider {
	&__item {
		border-radius: 12px;
		overflow: hidden;
	}

	&__image {
		// object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.slick-dots {
		bottom: -66px;
	}
}

.two-level {
	&__slider {
		margin-top: 75px;
	}
}

.two-level-slider {
	&__columns	{
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: minmax(300px, auto);
	}

	&__image {
		border-radius: 20px;
		overflow: hidden;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: minmax(300px, auto);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center 70%;
		}
	}

	&__info {
		border-radius: 20px;
		background: rgba(205, 213, 223, 0.8);
		overflow: hidden;
		padding: 40px 30px 30px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $primary;
		font-size: 26px;
	}

	&__text {
		font-size: 18px;
		font-weight: 400;
		margin-top: 20px;
		color: $black;
		margin-bottom: 20px;
	}

	&__arrow {
		margin-top: auto;
		font-size: 0;

		svg {
			width: 64px;
			height: 64px;
		}
	}
}


.equipment-slider-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	&__list {
		display: flex;
		align-items: center;
		border-radius: 48px;
		background: #CDD5DF;
		padding: 6px;
		min-height: 60px;
	}

	&__button {
		font-size: 18px;
		border-radius: 48px;
		padding: 13px 28px;
		color: rgba(0, 19, 97, 0.6);
		text-align: center;
		
		&--active {
			color: $white;
			border: 4px solid $white;
			background: #7B85AE;
		}
	}
}

.equipment-certificate {
	border: 2px solid $accent;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	padding: 16px;
	display: flex;
	align-items: center;
	gap: 10px;

	&__icon {
		font-size: 0;

		svg {
			width: 28px;
			height: 28px;
		}
	}

	&__text {
		color: $accent;
		font-size: 18px;
	}
}

.equipment-slider {
	&__content {
		margin-top: 40px;
	}
}

.equipment-slider-content {
	&__item {
		display: flex;
	}
	
	&__row {
		background-color: #e8edf3;
		border-radius: 24px;
		overflow: hidden;
		padding: 32px;
		display: flex;
		align-items: center;
		gap: 40px;
		height: 100%;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $primary;
		font-size: 24px;
		line-height: 120%;

		& + p {
			margin-top: 24px;
		}
	}

	&__text {
		font-size: 16px;
		color: $black;
		line-height: 140%;
		max-width: 315px;

		& + & {
			margin-top: 20px;
		}
	}

	&__image {
		max-width: 160px;
		width: 100%;
	}

	.slick-slide {
		height: auto;

		> div {
			display: flex;
			min-height: 100%;
		}
	}

	.slick-track {
		display: flex;
	}
}


.clinics-slider {
	&__content {
		margin-top: 40px;
	}
}

.clinics-slider-nav {
	&__list {
		display: flex;
		align-items: center;
		gap: 16px;
		flex-wrap: wrap;
	}

	&__button {
		padding: 10px 24px;
		border-radius: 32px;
		background: rgba(205, 213, 223, 0.5);
		cursor: pointer;
		color: $black;
		min-height: 40px;
		font-size: 18px;

		&--active {
			background: #CDD5DF;
		}
	}
}

.clinics-slider-content {
	position: relative;

	&__item {
		background-color: #E8EDF3;
		border-radius: 24px;
		overflow: hidden;
		min-height: 320px;
	}

	&__image {
		width: 100%;
		max-height: 230px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.slick-slide {
		height: auto;

		> div {
			display: flex;
			min-height: 100%;
		}
	}

	.slick-track {
		display: flex;
	}

	&__row {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__column {
		padding: 28px 32px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__info {
		flex: 1 1 auto;
	}

	&__connect {
		margin-top: 20px;

		.phone {
			&__icon {
				svg path {
					fill: $black;
				}
			}
			&__tel {
				color: $black;
			}
		}
	}

	&__button {
		margin-top: 20px;
	}

	&__title {
		color: $black;
		font-size: 24px;
		line-height: 120%;
	}

	&__address {
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		color: $black;
		margin-top: 20px;
	}
}

.areas,
.equipment,
.licenses,
.experts,
.clinics,
.reviews {
	&__slider {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.experts-slider {
	&__image {
		border-radius: 30px;
		overflow: hidden;
	}

	&__name {
		font-size: 24px;
		margin-top: 20px;
	}

	&__profession {
		font-size: 16px;
		margin-top: 20px;
	}

	&__subway {
		font-size: 16px;
		color: $accent;
		margin-top: 20px;
	}
}

.reviews-slider {
	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: auto;

		> div {
		   display: flex;
		   min-height: 100%;
	   }
	}
	
	&__info {
		flex: 1 1 auto;
	}
	
	&__item {
		background-color: #e8edf3;
    	border-radius: 24px;
		padding: 32px;
	}
	
	&__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;	
	}

	&__name {
		color: $black;
		font-size: 24px;

		& + p,
		& + .reviews__text {
			margin-top: 16px;
		}
	}

	&__text {
		color: $black;
		font-size: 16px;
	}

	&__note {
		margin-top: 20px;
	}

	&__subway {
		font-size: 16px;
		color: $primary;
	}

	&__stars {
		margin-top: 10px;
	}
}

.stars {
	display: flex;
	align-items: center;
	gap: 8px;

	&__icon {
		font-size: 0;

		svg {
			height: 15px;
		}
	}

	&__number {
		font-size: 18px;
		color: $accent;
	}
}

.faq {
	&__accordion-menu {
		margin-top: 40px;
	}

	&__accordion-menu-button {
		margin-top: 40px;
	}
}

.accordion-menu {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__item {
		border-radius: 16px;
		background: rgba(205, 213, 223, 0.8);
		cursor: pointer;

		&--hidden {
			display: none;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 32px 40px 32px 40px;

		&.active .accordion-menu__icon {
			transform: rotate(-45deg);

			svg path,
			svg rect {
				stroke: #333333;
			}
		}
	}

	&__link {
		font-size: 24px;
		color: $black;
		cursor: pointer;
		display: block;
		position: relative;
		width: 100%;
	}

	&__icon {
		transition: all .5s ease;
		font-size: 0;

		svg {
			width: 50px;
			height: 50px;
		}
	}

	&__content {
		display: none;
		padding: 0 90px 32px 40px;
	}

	&__text {
		color: $black;
		font-size: 18px;
		line-height: 120%;
	}
}

.accordion-menu-button {
	min-width: max-content;
	min-height: 40px;
	padding: 8px 38px;
}


.footer {
	&__wrap {
		padding: 60px 0;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 20px;
	}

	&__about {
		max-width: 350px;
	}

	&__info {
		width: 66%;
	}

	.phone {
		justify-content: flex-end;

		&__tel {
			font-size: 32px;
		}

		&__icon {
			gap: 16px;

			svg {
				width: 24px;
				height: 24px;

				path {
					fill: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}

	&__logo {
		max-width: 300px;
	}

	&__socials {
		margin-top: 12px;
	}

	.socials {
		display: flex;
		justify-content: flex-end;

		&__icon {
			svg path {
				fill: rgba(255, 255, 255, 0.8);
			}
		}
	}

	&__descr {
		font-size: 16px;
		color: $white;
		margin-top: 47px;
	}

	&__telegram {
		margin-top: 24px;
	}

	&__copyright {
		color: $white;
		font-size: 14px;
		margin-top: 55px;
	}

	&__services {
		margin-top: 5px;
	}
}

.telegram-channel {
	&__row {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__logo {
		font-size: 0;
		
		svg {
			width: 64px;
			height: 64px;
		}
	}

	&__title {
		font-size: 18px;
		color: $white;
	}

	&__descr {
		font-size: 14px;
		color: $white;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__services {
		margin-top: 5px;
	}
}

.services {
	&__title {
		color: $accent;
		font-size: 18px;
		font-weight: 600;
	}

	&__menu {
		margin-top: 20px;
	}

	&__list {
		display: grid;
    	grid-template-columns: repeat(3, 1fr);
		gap: 12px;
	}

	&__link {
		color: $white;
		font-size: 14px;

		&:hover {
			color: $accent;
		}
	}
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes flyout {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}





/************* Media *****************************/
@media (max-width: 1300px) {
	.two-level-slider__columns {
		grid-template-columns: 3fr;
	}
}


@media (max-width: 1100px) {
	.header-button-menu {
        display: block;

		&__icon {
			display: block;
			background: 0 0;
			width: 20px;
			height: 14px;
			color: $white;

			&::before,
			&::after {
				content: '';
				width: 20px;
				height: 14px;
				border: 0 solid $white;
				display: block;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				position: absolute;
				top: 2px;
				right: 0;
				transition: .5s;
			}

			&::before {
				border-width: 2px 0;
        		background: linear-gradient(to bottom,transparent calc(50% - 1px),$white 0 calc(50% + 1px),transparent 0);
			}

			&::after {
				background: linear-gradient(to bottom,transparent calc(50% - 1px),$white 0 calc(50% + 1px),transparent 0),linear-gradient(to right,transparent calc(50% - 1px),#fff 0 calc(50% + 1px),transparent 0);
				transform: rotate(45deg) scale(0);
				opacity: 0;
			}
		}

    }

	.header-button-menu-body {
		z-index: 2;
		position: fixed;
		width: 100%;
		border-radius: 0px 0px 16px 16px;
		background-color: #E8EDF3;
		top: 60px;
		display: flex;
        flex-direction: column;
        transition: clip-path 0.6s ease-in-out;
        clip-path: inset(0 0 0 0);

		&:not(.active) {
			clip-path: inset(0 0 100% 0);
		}
		
		&__socials {
			background-color: #D7D7D7;
			padding: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
		}

		.phone {
			&__tel {
				color: $black;
			}

			&__icon {
				svg path {
					fill: $black;
				}
			}

		}
	}

	.socials {
		gap: 14px;

		&__icon {
			svg path {
				fill: $black;
			}
		}
	}

	.header-menu-open {
		.header-button-menu-body.active {
			position: fixed;
		}

		.header-button-menu__icon {
			&::before {
				transform: scale(0);
				opacity: 0;
			}

			&::after {
				transform: rotate(45deg);
				opacity: 1;
				width: 14px;
				height: 14px;
				top: 1px;
				right: 4px;
			}

			&::before {
        		background: linear-gradient(to bottom,transparent calc(50% - 1px),$black 0 calc(50% + 1px),transparent 0);
			}

			&::after {
				background: linear-gradient(to bottom,transparent calc(50% - 1px),$black 0 calc(50% + 1px),transparent 0),linear-gradient(to right,transparent calc(50% - 1px),$black 0 calc(50% + 1px),transparent 0);
			}
		}

		.phone {
			&__tel {
				color: $black;
			}

			&__icon {
				svg path {
					fill: $black;
				}
			}
		}

		.header-top {
			background-color: $white;
			transition: all .7s ease;

			&__logo,
			&__calendar,
			&__search-mobile {
				svg path {
					fill: $primary;
				}
			}

			&.active {
				.header-button-menu__icon {
					&::after,
					&::before {
						border: 0 solid $white;
					}
				}

				.phone {
					&__tel {
						color: $black;
					}
				}
			}
		}
    }

	.header-top {
		padding: 20px 0;
		min-height: 60px;

		&__geo,
		&__button,
		&__menu {
			display: none;
		}

		&__wrap {
			gap: normal;
			flex-direction: row;
			justify-content: space-between;
		}

		&__info {
			display: none;
		}

		&__calendar {
			display: block;
			margin: auto;

			svg {
				width: 14px;
				height: 14px;
			}
		}

		&__search-mobile {
			display: block;
			margin: auto;

			svg {
				width: 14px;
				height: 14px;
			}
		}

		.logo {
			max-width: 158px;
		}

		&.active {
			padding: 20px 0;

			.header-top {
				&__calendar {
					svg {
						path {
							fill: $black;
						}
					}
				}
			}

			.search {
				width: 100%;
			}

			.search-mobile {
				&__icon {
					svg {
						path {
							fill: $black;
						}
					}
				}
			}

			.header-button-menu {
				&__icon {
					&::before {
						background: linear-gradient(to bottom, transparent calc(50% - 1px), $black 0 calc(50% + 1px), transparent 0);
					}

					&::after {
						background: linear-gradient(to bottom, transparent calc(50% - 1px), $black 0 calc(50% + 1px), transparent 0), linear-gradient(to right, transparent calc(50% - 1px), $black 0 calc(50% + 1px), transparent 0);
					}

					&::before,
					&::after {
						border: 0 solid $black;
						border-width: 2px 0;
					}
				}
			}

			.logo {
				max-width: 158px;
			}
		}
	}

	.main-menu {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		max-width: 100%;
		flex-direction: column;
		// overflow-x: hidden;
		transition: left 0.3s;
		gap: 10px;

		&__link {
			color: $primary;
			font-size: 16px;
		}

		&__item {
			position: relative;
    		width: 100%;
		}
	}

	.main-sub-submenu { 
		position: static;
		display: block;
		width: 100%;
		max-height: 0px;
		transform-origin: top;
		transform: scaleY(0);
		transition: max-height 0.1s;

		&__item {
			&:hover {
				> .main-menu__link { 
					background-color: transparent;
				}
			}
		}

		.main-menu__link {
			padding-left: 60px;

			~ .main-sub-submenu .main-menu__link {
				padding-left: 80px;
			}
		}

		&:hover {
			max-height: 500px;
    		transform: scaleY(1);
		}
	}

	.main-submenu {
		flex-direction: column;
		background: #ffffff;
		position: relative;
		left: 100%;
		top: 0;
		left: 0;
		max-height: 100%;
		transition: left 0.3s;
		position: relative;

		&__item {
			width: auto;
			
			.main-submenu {
				display: none;
			}

			&.open {
				.main-submenu {
					display: block;
				}
			}
		}

		.re:hover ~ .main-sub-submenu {
			max-height: 500px;
    		animation: dropdown 0.3s forwards;
		}
	}

	.search-mobile {
		&__input {
			display: none;

			&.active {
				display: flex;
			}
		}
	}

	.header {
		min-height: 590px;
	}

	.header-slider {
		&__item {
			min-height: 590px;
			padding-top: 92px;
		}

		&__title {
			font-size: 32px;
		}

		&__subtitle {
			font-size: 16px;
		}
		
		.slick-dots {
			bottom: 40px;
		}

		&__image img {
			object-position: 65% center;
		}
	}

	main {
		padding: 40px 0;
	}

	section {
		padding: 20px 0;
	}

	.title {
		font-size: 28px;
	}

	.subtitle {
		font-size: 16px;
		line-height: 120%;
	}

	.main-sect {
		&__wrap {
			padding: 20px;
		}
	}

	.two-level {
		&__slider {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	.two-level-slider {
		&__image {
			grid-auto-rows: auto;
			grid-template-rows: 160px;
		}
	}

	.clinics-slider-nav {
		&__list {
			gap: 10px 6px;
		}

		&__button {
			font-size: 16px;
		}
	}

	.clinics-slider-content {
		&__column {
			padding: 28px 16px;
		}

		&__title {
			font-size: 22px;
		}

		&__address {
			font-size: 14px;
		}

		&__connect {
			.phone__tel {
				font-size: 16px;
			}
		}
	}

	.equipment-slider-content {
		&__text {
			max-width: 100%;
		}
	}

	.equipment-certificate {
		&__text {
			font-size: 14px;
		}
	}

	.equipment-slider-nav {
		flex-direction: column;

		&__button {
			font-size: 14px;
			padding: 10px;
		}
	}

	.experts-slider {
		&__name {
			font-size: 22px;
		}

		&__profession,
		&__subway {
			font-size: 14px;
		}
	}

	.accordion-menu {
		&__top {
			padding: 20px 10px;
		}

		&__link {
			font-size: 22px;
		}

		&__icon {
			svg {
				width: 32px;
				height: 32px;
			}
		}

		&__content {
			padding: 0px 10px 32px;
		}

		&__text {
			font-size: 14px;
		}
	}

	.footer {
		&__logo {
			max-width: 210px;
		}

		&__wrap {
			padding: 40px 0;
		}

		&__row {
			gap: 35px;
		}

		&__descr {
			margin-top: 17px;
			font-size: 14px;
		}

		.phone {
			&__tel {
				font-size: 24px;
			}

			&__icon {
				svg {
					width: 18px;
					height: 18px;
				}
			}
		}

		&__services {
			margin-top: 35px;
		}

		&__copyright {
			margin-top: 44px;
		}

		&__telegram {
			margin-top: 40px;
		}

		&__info {
			width: 100%;
		}
	}

	.telegram-channel {
		&__logo {
			svg {
				width: 58px;
				height: 58px;
			}
		}

		&__title {
			font-size: 16px;
		}

		&__descr {
			font-size: 12px;
		}
	}

	
}


@media (max-width: 900px) {
	.footer {
		&__row {
			flex-direction: column;
		}

		&__about {
			max-width: 100%;
		}

		.socials {
			justify-content: flex-start;
		}

		.phone {
			justify-content: flex-start;
		}
	}
}


@media (max-width: 700px) {
	.main-sect-slider {
		margin: 0 -8px;

		.slick-list {
			margin: 0;
		}
	}

	.two-level-slider {
		&__row {
			grid-auto-rows: minmax(242px, auto);
		}
	}

	.equipment-slider-content {
		&__row {
			flex-direction: column;
		}
		
		&__text {
			max-width: 100%;
		}
	}

	.services {
		&__list {
			grid-template-columns: 1fr;
		}
	}
}


@media (min-width: 951px) {

  .main-submenu li:hover > .re ~ .main-sub-submenu { /* не трогать */
    display: block;
    transform-origin: left;
    animation: flyout 0.2s ease-out;
  }

}



